

        <!-- Begin small screens book appt button-->
        <section class="container-fluid px-0 d-block d-sm-none text-center" id="mobileButton" style="<%= error  ? 'margin-top: 25px;' : '' %>">
            <a href="tel:4156083745" class="btn btn-secondary">
                CALL
            </a>
        </section>  

        <!-- Begin Header -->
        <section class="jumbotron text-center" id="header" style="<%= error ? 'margin-top: 25px;' : '' %>">
            <h1>PMA MASSAGE AND ACUPUNCTURE</h1>
            <p>FEEL BETTER</p>               
        </section>