<% include ./partials/header %>

        <section class="container">
            <div class="row">
                <div class="col-12">
                    <h1>About</h1>
                </div>
            </div>
            <div class="row align-items-top content">
                <div class="col-md-6 col-lg-3">
                    <img src="images/about1.png" alt="" class="img-fluid"></div>
                <div class="col-md-6 col-lg-3">
                    <h2>About Me</h2>
                    <em class="quote">LMT, MSTOM</em>
                    <p class="lead">Acupuncture works with your parasympathetic nervous system to bring your body into a state of rest, to release tension, slow the stress response, and remind your body how to relax.</p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <img src="images/about.png" alt="" class="img-fluid">
                    </div>
                <div class="col-md-6 col-lg-3">   
                    <h2>Athletes</h2>
                    <p class="lead">I also work as a soigneur for professional and amateur athletes. In 2017/2018 I worked with the Jelly Belly Professional Road Cycling Team, and the Cannondale p/b Cyclocrossworld Cyclocross Team. 
                            I have worked with five current and former national cyclocross Champions, and many other athletes across discliplines. I love this work.</p>
                    <p class="lead">I have been a ballet dancer, an amateur bike racer, a bike mechanic, a skier, and a hiker. I enjoy being as active whether that is a long bike ride, a quick run, or a yoga class. </p>
                </div>
            </div>
        </section>

<% include ./partials/footer %>