<% include ./partials/header %>


    <section class="container-fluid px-0">
        <div class="row text-center sectionTitle">
            <div class="col-12">
                <h1>About</h1>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="row d-flex justify-content-center mt-5">
            <div class="col-10 col-sm-4 mb-5 mb-md-0">
                <img src="images/about.png" class="img-fluid">
            </div>
            <div class="col-10 col-lg-4 mb-5 mb-md-0 about">
                <h1>Athletes</h1>
                <p>I also work as a soigneur for professional and amateur athletes. In 2017/2018 I worked with the Jelly Belly Professional Road Cycling Team, and the Cannondale p/b Cyclocrossworld Cyclocross Team. 
                I have worked with five current and former national cyclocross Champions, and many other athletes across discliplines. I love this work.</p>
                <p>I have been a ballet dancer, an amateur bike racer, a bike mechanic, a skier, and a hiker. I enjoy being as active whether that is a long bike ride, a quick run, or a yoga class. </p>
            </div>
        </section>
    </div>

<% include ./partials/footer %>