<% include partials/header %>

        <section class="container-fluid px-0">
            <div class="row sectionTitle text-center">
                <div class="col-12">
                    <h1>Acupuncture</h1>
                </div>
            </div>
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-1">
                <img src="images/plant8.jpg" alt="Photo of a fern" class="img-fluid">
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>ACUPUNCTURE FOR STRESS RELIEF</h2>
                        <p class="lead">Acupuncture works with your parasympathetic nervous system to bring your body into a state of rest, to release tension, slow the stress response, and remind your body how to relax.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center content">
                <div class="col-md-6 text-center">
                    <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>ACUPUNCTURE FOR PAIN MANAGEMENT</h2>
                        <p class="lead">Scientifically, acupunture works by creating a tiny microtrauma in your muscle which sends signals to your brain to send electrolytes, white blood cells, and oxygenated blood to repair and release the tight or injured muscle tissue-thereby influencing your body to heal itself.</p>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="images/plant4.jpg" alt="Weird looking plant" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-1">
                <img src="images/plant9.jpg" alt="Picture of a plant with round leaves" class="img-fluid">
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>CUPUNCTURE FOR INTERNAL MEDICINE</h2>
                        <p class="lead">The acupuncture meridians, by and large, lie on major nerve pathways which impact the function of all major organ systems in the body. Acupuncture is particularily helpful in addressing digestive, sinus, sleep, menstrual, fertility, as well as many other issues. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Begin Treatments -->

        <section class="container-fluid px-0">
            <div class="row sectionTitle text-center">
                <div class="col-12">
                    <h1>TREATMENTS</h1>
                </div>
            </div>
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-1">
                <img src="images/plant3.jpg" alt="Photo of a fern" class="img-fluid">
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>MYOFASCIAL RELEASE</h2>
                        <em class="quote">Release Restrictions </em>
                        <p class="lead">Myofascial release is a very effective treatment method which utilizes slow sustained pressure to break apart adhesions in the layers of the facial planes, allowing for deeper relaxation of the underlying muscles, and better circulation systemically.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center content">
                <div class="col-md-6 text-center">
                    <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>TRIGGER POINT THERAPY</h2>
                        <em class="quote">Alleviate Pain</em>
                        <p class="lead">Trigger Point Therapy coupled with stretching and other gentler techniques, is a very effective way to release tight muscles and "knots".</p>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="images/plant2.jpg" alt="Weird looking plant" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-1">
                <img src="images/plant1.jpg" alt="Picture of a plant with round leaves" class="img-fluid">
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>SPORTS MASSAGE</h2>
                        <em class="quote">Aid Recovery</em>
                        <p class="lead">I have worked extensively with professional and amateur athletes utilizing massage to aid in the recovery of muscles after training and events. I offer both a 30 minute post-activity lactic acid flush or full massage. The shorter treatment is very beneficial beween hard training days, or multi day events, while a longer deeper session will further increase recovery and ability of the body to function at top form.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center content">
                <div class="col-md-6 text-center">
                    <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>CUPPING</h2>
                        <em class="quote">Relieve Stagnation</em>
                        <p class="lead">The use of pneumatic cups break apart adhesions in the facial layer of the muscle allowing for better blood flow, exchange of nutrients, and alleviation of pain and restrictions.</p>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="images/plant7.jpg" alt="Weird looking plant" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-1">
                <img src="images/plant5.jpg" alt="Picture of a plant with round leaves" class="img-fluid">
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>GUA SHA</h2>
                        <em class="quote">Natural Healing</em>
                        <p class="lead">Gua Sha is a friction based treatment used regularly in Chinese Medicine to release stagnant blood, help with headaches, alleviate pain, and increase range of motion, particularly in the neck and upper back.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<% include partials/footer %>
