body {
    font-family: "Nunito";
}

#mainNavBar {
    font-size: .9rem;
    font-weight: 300;
}

#mainNavBar .nav-link {
    font-weight: 600;
}

.active {
    font-weight: 600;
    color: #3F6433;
}

#mainNavBar .nav-link:hover {
    font-weight: 600;
    color: #3F6433;
}

#mainNavBar .navbar-brand {
    color: #3F6433;
    font-size: 1.5rem;
    font-weight: 700;
}

#mainNavBar .btn:hover {
    color: #FFFFFF;
}

#mobileButton {
    margin-top:75px;
}

#header {
    margin-top: 75px;
    background: url("../images/mainPage.jpg") center center / cover no-repeat;
    height: 400px;
}

#header h1 {
    font-weight: 700;
    color: #FFFFFF;
}

#header p {
    font-weight: 700;
    color: #FFFFFF;
}

#hoursSection {
    margin-bottom: 30px;
}

#hoursSection h2 {
    color: #3F6433;
}

#hoursSection h3 {
    font-size: 1.25rem;
}

.sectionTitle {
    background: #3F6433;
    font-weight: 700;
    color: #FFFFFF;
    padding: 20px;
}

.content {
    margin-top: 10px;
    margin-bottom: 50px;
}

.content h2 {
    color: #3F6433
}

.lead {
    font-size: 1rem;
}

#shopCards {
    margin-top: 20px;
}

.card-title {
    color: #3F6433;
    font-weight: 600;
    text-transform: uppercase;
}

.card {
    margin-bottom: 20px;
}

.form-container {
    margin-top: 75px;
}

.form-container h3 {
    color: #3F6433;
}

.delete-form {
    display: inline;
}

.about h1 {
    color: #3F6433;
}

#alertBanner {
    margin-top: 75px;
}

#footerNavBar {
   height: 200px;
}

#footerNavBar h4 {
    color: #3F6433;
    font-size: 1.25rem;
    font-weight: 600;
}

#footerNavBar p {
    line-height: .5em;
    padding-left: 5px;
}

#footerNavBar a {
    line-height: .5em;
    padding-left: 5px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

#footerNavBar a:hover {
    color: rgba(0, 0, 0, 1);
}

#footerTop {
    height: 70%;
    width: 100%;
}

#footerBottom {
    height: 30%;
    width: 100%;
}

.footerCopy {
    color: #3F6433;
    font-size: .75rem;
    display: block;
}

.footerCopy a {
    color: #3F6433;
    font-size: .8rem;
}

.socialMedia i {
    font-size: 1.5em;
    color: #3F6433;
}

@media (max-width: 1200px){
    #header {
        margin-top: 20px;
    }
}
