<% include ../partials/header %>

            <!-- Begin Shop-->
            <section class="container-fluid px-0">
                <div class="row text-center sectionTitle">
                    <div class="col-12">
                        <h1>SHOP</h1>
                    </div>
                </div>
            </section>
            <section class="container" id="shopCards">
                <div class="row text-center d-flex justify-content-around">
                <% items.forEach(function(item){ %>
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="<% item.image %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= item.name %></h5>
                                <p class="card-text"><%= item.description %></p>
                                <p class="card-text">$<%= item.price %></p>
                                <a href="/shop/<%= item._id %>" class="btn btn-secondary">View</a>
                            </div>
                        </div>
                    </div>
                <% }); %> 
            </section>

<% include ../partials/footer %>